h1{color:gray;font-size:40pt;}
body{background-color:black;}
h2{color:white; font-size:25pt;}
nav a {	display: inline-block;
        	border: 10px white;
        	padding: 10px;
			margin: 10px;
		background: gray;}
h3{color:white;font-size:15pt;}
h4{color:white;font-size:13pt;}
h5{color:gray;font-size:15pt;}
